<li>
    {{burger_name}}

    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}GET IN MY BELLY!{{else}}MAKE ANOTHER!{{/if}}
    </button>
</li>